@font-face {
    font-family: "OngleapNewMugungche";
    font-weight: 300;
    font-style: normal;
    src: url("https://github.com/wefonts/OngleapNewMugungche/raw/main/OngleapNewMugungche.woff2") format("woff2"),
         url("https://github.com/wefonts/OngleapNewMugungche/raw/main/OngleapNewMugungche.woff") format("woff"),
         url("https://github.com/wefonts/OngleapNewMugungche/raw/main/OngleapNewMugungche.ttf") format("truetype");
    font-display: swap;
}
